server:
  http_listen_port: 9080
  grpc_listen_port: 0

positions:
  filename: /tmp/positions.yaml

clients:
  - url: http://loki:3100/loki/api/v1/push

scrape_configs:
- job_name: python_logs
  static_configs:
  - targets:
      - localhost
    labels:
      job: ml_services
      __path__: /app/logs/*.log

  pipeline_stages:
  - json:
      expressions:
        level: level
        message: message
        time: time
        module: name
  - labels:
      level:
      module:
